
  
   body
   { backgroundXXX: Pink;
   }
   
   .orange
   { color: Orange;
     
   }
   
   .MYC 
   {
    font-size:344%;
    font-family:Courier;
    font-weight : Bold;
     color: Pink;     
     border: solid 2px Red;
   }
   
   
	
	TODO:  cssComp

   
   
