
 
 /*
   Copyright 2018 Class Cloud LLC
   All rights reserved
   
This is   Paint.js
See also iFrameTargetHtml() calc width
*/
     
body 
{
margin-left: 16px!important;
 
}
     
textarea
{ font-weight:bold;
  font-family:courier;
  overflow-y:hidden;
  font-size:125%;
  padding:6px;

  margin-bottom:16px;
margin-left:2px;

  background: #f3f3f1!important;
  color:Navy;
  font-weight:bold;
  border    : solid 1px LightGray;
  border-radius: 6px!important;
  box-shadow: 2px 2px 2px LightGray!important;
} 
 .small 
 { font-size:75%;
 }     
 
.em 
 {  font-style: italic;
 }     

 .contentDiv
 {
   max-width: 540px;
   
   border: solid 0px red;
    
   
   padding-top:0px;
   
 }
 
 h2
 {
 margin-top:12px;
 margin-bottom:12px;
 
 }
      
.emptyLine 
{ border: solid 0px red;
	line-height: 1.05em;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;	
}

p 
{ margin: 0px;
}
      
*
{ box-sizing:          border-box;
  font-family: Arial;
  overflow: auto;
}

*:focus
{ outline: none;
}
 
. noUserSelect
{
 user-select:         none!important;
-moz-user-select:    none;
-ms-user-select:     none;
-webkit-user-select: none;
}
 /*
 Helps if you can copy stuff form the
 bottom half. Therefore no user select
 is no longer a universal rule.
 */
 
 
.File:hover
{ background:#ced9e3;
  color:Black!important;
}



.codeWrapper
{
margin-top: -18px; 
padding-top: 12px;

margin-top: 0px; 
padding-top: 0px;
  margin-top : 0.4em;

overflow-y: visible;
position:relative;

padding-right: 0px!important;
}



.codeCaption 
{ color: White;
 font-size:90%;
  
  margin-top :0px;

  margin-bottom: -12px;

  padding-top: 3px;
  padding-bottom: 3px; 
  padding-left: 7px;
    
  border: solid 0px red;

  border-top-left-radius    : 4px ;
  border-top-right-radius   : 4px ;
  border-bottom-left-radius : 0px ;
  border-bottom-right-radius: 0px ;
    
  background: #545454;
  background: DarkGray;
  
  background: Gray;
         min-width: 500px;
       width: 527px;
}

.codeCaptionEnd
{
 background                : LightGray;
 background: #eaeaea;
    background: #f8f8f8;
    
  border-top-left-radius    : 0px ;
  border-top-right-radius   : 0px ;
  
  border-bottom-left-radius : 4px ;
  border-bottom-right-radius: 4px ;
  border-bottom-left-radius : 8px ;
  
  
  margin-top: -14px;
  margin-top: -16px;
  margin-top: -8px;
  margin-bottom: 10px;
  border-left: Solid 31px  Gray;  

  border-left: Solid 26px  #eaeaea;
 
 border-bottom: solid 1px Gray;
border-bottom: solid 1px LightGray;
  
  box-shadow:  0px 2px 4px LightGray;
  
 border-top: solid 0px red!important;
   
   

   border-right: solid 1px  Gray!important;
   border-right: solid 1px   LightGray!important;     
   border-right: solid 1px    LightGray!important;     
   
   margin-right: -5px!important;
   margin-right: 0px!important;
   
   border-bottom-right-radius: 4px ;
   border-bottom: solid 0px Red!important;     
  min-width: 500px;
  width: 525px;
  width: 527px;
   height: 5px;
    height: 6px;  
    height: 12px;  
  

}



.code
{ 
  font-family: Verdana;
  font-family: monospace;
  font-size: 135%;
  
  background: #efefef;
  margin-left: 0px;
   
  paddingXXXXX: 4px;
  padding-right: 0px;
  
  color:Black ; 	
  position:relative;
    
   min-width: 500px;
   max-width: 527px;
   
       padding:0px;
       
        margin-top: 0px;
  margin-bottom: 5px;   
  margin-bottom: 0px;
  margin-right:0px;
  
    border-bottom-right-radius: 4px ;
  border-bottom-left-radius : 4px ;
  
   background: #eeeeee;

   border-left: solid 0px gray;    
    
   padding-bottom:0px!important;
   padding-top:0px!important;
 
      margin-top: 12px;
 
 
   background: LightBlue;
      background: LightGray;   
      
   overflow-x: hidden!important;
}
 
.codeTable
{
 
  table-layout: fixed;

border-collapse :collapse;
overflow-x: hidden!important;
 
  margin:0px!important;

  border: solid 0px Gray;
  border-radius:6px;

   
      border-top: solid 0px LightGray!important;
 
   min-width: 500px;
   
      border-right: solid 2px LightGray!important;
      
 

  
  margin-right:0px!important;
    margin-right:0px!important;
 
     
     margin-bottom: 8px!important;
     
     margin-bottom: 0px!important;
     margin-top: 0px!important;
     margin-top: 0px!important;
     
       padding:4px!important;
         padding-top:0px!important;
           border-right: solid 1px LightGray!important;
        
}

/*
The code gets clipped if too wide.
Solution is to not write too wide
code-examples.
*/

.codeTable tr td
{
  text-align  : left;
  overflow    : auto;
  line-height : 1.3em;
  overflow-x  : hidden;
   
}


.lineNumber
{ colorXXX:Red;
 background:White;
 
 background: #eaeaea;
 color:White;
 color:Black;
 
 padding-left:4px;
 padding-right:4px;
 
 overflow-x:hidden;
 border-right: solid 0px LightGray;
 
 text-align:Center!important;
  min-width:26px;
 max-width:26px;
 
 position: relative;
 top:4px;
  top:0px;
  vertical-align: middle;
  font-size: 85%;
  font-size: 90%;
  
  padding-top: 0px;
  padding-top: 1px;
  padding-top: 0px;
  padding-top: 2px;  
}


.leftAlign 
{ 
	padding-top: 5px;
	padding-top: 0px;
padding-top: 2px;
  
  
text-align:Left;
  font-family:monospace!important;
    
  overflow:hidden;
  padding-left:8px;
  min-width: 500px;
  font-size: 120%;
  font-size: 115%;
  white-space: pre;
   background: #f8f8f8;

position:relative;
  top:4px;
   top:0px;
   
     padding-bottom: 0px;
     
     margin-bottom: -4px;
     margin-bottom: 0px;
     
      vertical-alignXXX: top!important;
      
  vertical-align: middle;
}

/*
BEWARE eol comments would silnetly break the rest of the
CSS-classes from appearing.

//  white-space: pre; has the same effect as <pre> -tag would
// but it makes the text smaller so we muts enlarge that  
*/


.codeLine
{ 
  border        : solid 0px red;
  color         : Black; 	 
    
  font-family   : Verdana;
  font-family   : monospace;
  font-size     : 135%;
   
  padding       : 4px;

  padding-top  : 6px; 
  padding-bottom  : 6px; 

  
  margin-left   : -7px;
  margin-right  : 58px;
 
 display:inline-block;
 line-height: 1.3em;

  padding-left  : 16px;
  padding-right  : 14px; 
  
  background    : #eeeeee!important;
  
  border: solid 0px Blue !important ;

  margin-top    : 0.41em;
  margin-bottom : 0.2em;

}


 br 
 {
   line-height: 0.6em;
 }
 /*
 code-lines which have a <br>
 need the  line-height: 0.6em;
 else such a line would have a
 bigger top-padding than others
 it seems on FireFox.
 */
 


/* 
   Next some examples which may be useful
   during development to undeerstand the
   exact area occupied by each element.
*/

.red 
{ color: #db0100; 
  border-color: Red;
  font-family: inherit;
} 
.green 
{ color:  #019400; 
  border-color: Red;
  font-family: inherit;
}

.blue 
{ color: #0001db; 
  border-color: Blue;
  font-family: inherit;
}

.navy 
{ color: navy; 
  border-color: navy;
  font-family: inherit;
}

.b 
{ font-weight: bold; 
  font-family: inherit;
}
/*
Above is a major trick. 
If you have a paragrpah of font courier
and you want to make some words of it bold
you can use the above class because it
inherits its font - fomr the context.

If we did not say font-family: inherit;
the psan which you made 'b' would inherit
the  font from the universal default
we have set ot be Arial.

Above is the way to do it but bad thing
is it seems everything (or most things) 
you want to be inherited from the context 
has to be explicitly set the value 'inherit'.

*/
 
.border 
{ border: solid 4px;
}
 
 .h1
 { overflow-x:hidden;
   font-size: 200%;
   display: block;
   font-weight:bold;
   font-family:inherit;
 }
  .h2
 { overflow-x:hidden;
   font-size: 1750%;
   display: block;
   font-weight:bold;
   font-family:inherit;
 }
 .h3
 { overflow-x:hidden;
   font-size: 150%;
   display: block;
   font-weight:bold;
   font-family:inherit;
 }
 .h4
 { overflow-x:hidden;
   font-size: 120%;
   display: block;
   font-weight:bold;
   font-family:inherit;
 } 
 h1
 { overflow-x:hidden;
 /* else it would add scrollbars
 for a long h3 which contains
 a long path.
 */  
 } 
 
 h2
 { overflow-x:hidden;
 /* else it would add scrollbars
 for a long h3 which contains
 a long path.
 */  
 }
 h3
 { overflow-x:hidden;
 /* else it would add scrollbars
 for a long h3 which contains
 a long path.
 */  
 }
